.navbar {
    background-color: tomato;
    border-radius: 30px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: blue;
}

.navbar li a:hover {
    background-color: yellowgreen;
}

.search {
    float: right;
    padding: 10px 10px;
    color: aliceblue;
}

.navbar input {
    border: 2px solid blue;
    border-radius: 14px;
    padding: 3px;
    width: 194px;
}