.container {
    background-color: greenyellow;
}

.box {
    background-color: green;
    width: 250px;
    height: 250px;
    position: relative;
    animation-name: prashant;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-direction: reverse;

    /* These properties can be set using this shorthand */
    /* animation: animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-fill-mode; */
    /* animation: prashant 5s ease-in 1s 12 backwards; */
}

@keyframes prashant {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 0;
        left: 250px;
    }

    50% {
        top: 250px;
        left: 250px;

    }

    75% {
        top: 250px;
        left: 0
    }

    100% {
        top: 0px;
        left: 0px;
    }

}

@keyframes prashant1 {
    from {
        width: 200px;
        /* background-color: chocolate; */
    }

    to {
        width: 1000px;
        /* background-color: chocolate; */
    }

}