//- index.pug
doctype html
html
  head
    title Prashant Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar.top
        ul
            div#logo
                img(src="../static/img/dance_logo.jpeg")
                | PDA
            li #[a(href="/") Home ]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    section#introSection
        div.large Welcome to Prashant's Dance Academy
        div.small Eat Sleep Dance and Repeat
    
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box 
                div.card-img 
                    img(src="../static/img/d_img1.png")
                div.card-content 
                    p This is the best dance academy of the world
        div.card
            h3 Dance the way you like
            div.card-box 
                div.card-img 
                    img(src="../static/img/d_img2.png")
                div.card-content 
                    p This is the best dance academy of the world
        div.card
            h3 Expert Teaching
            div.card-box 
                div.card-img 
                    img(src="../static/img/d_img3.png")
                div.card-content 
                    p This is the best dance academy of the world 

    section#sponserSection
        h2 Our Sponsers

    footer#footer
        | our footer here

    script
      include ../static/index.js