<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Using plain html in PUG</title> -->
    <title>#{title}</title>
</head>
<body>
    <h1>This is heading</h1>
    <p>#{content}</p>
    <!-- <p>This is a plain html using PUG</p> -->
</body>
</html>