extends base.pug

block scripts
  script(src='../static/index.js')
 
block style 
  style
    include ../static/style.css

block content
  section#introSection
    div.large Welcome to Prashant's Dance Academy
    div.small Eat Sleep Dance and Repeat

  section#missionSection
    h2 Our Mission
    div.card
      h3 Dance Perfection
      div.card-box 
        div.card-img 
          img(src="../static/img/d_img1.png")
        div.card-content 
          p This is the best dance academy of the world

    div.card
      h3 Dance the way you like
      div.card-box 
        div.card-img 
          img(src="../static/img/d_img2.png")
        div.card-content 
          p This is the best dance academy of the world

    div.card
      h3 Expert Teaching
      div.card-box 
        div.card-img 
          img(src="../static/img/d_img3.png")
        div.card-content 
          p This is the best dance academy of the world

  section#sponserSection
      h2 Our Sponsers
      div#sponser 
        img(src="../static/img/s_apple_logo.jpeg", alt="Sponser Image", class="spImage")
        img(src="../static/img/s_ms_logo.png", alt="Sponser Image", class="spImage")
        img(src="../static/img/s_hp_logo.png", alt="Sponser Image", class="spImage")
        img(src="../static/img/s_skype_logo.jpeg", alt="Sponser Image", class="spImage")
