@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Ubuntu:ital@1&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Ubuntu:ital@1&family=Yeon+Sung&display=swap'); */
* {
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    padding: 0px;
}

#logo {
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img {
    height: 42px;
    /* filter: invert(1); */
}

#navbar {
    background-color: coral;
    padding: 13px 14px;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li {
    list-style: none;
}

#navbar li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 13px 30px;
}

#navbar li a:hover {
    color:darkblue;
    font-weight: bold;
    font-size: 1.4rem;
}

#introSection {
    height: 300px;
    color: white    ;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    background: center / contain no-repeat, #eee 35% url("../static/img/bg.jpg");
    background-size: cover;
    padding-bottom: 40px;
}

#introSection div.large {
    color: crimson;
    background-color: rgb(246, 222, 192, .2);
    padding: 5px;
}

#introSection div.small {
    font-size: 27px;
    padding: 5px;
}

#sponserSection {
    height: 300px;
    background-color: chartreuse;
}

#sponserSection h2 {
    text-align: center;
    margin-top: 12px;
    font-size: 32px;
}

#missionSection {
    margin: auto;
    height: 326px;
    width: 90%;
    display: block;
}

#missionSection h2 {
    text-align: center;
    margin-top: 12px;
    font-size: 32px;
}

.card {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;
    margin: 18px 20px;
    height: 210px;
}

.card h3 {
    text-align: center;
    margin: 0 12px;
    margin-top: 15px;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img {
    height: 70px;
    padding: 0 14px;
    padding-top: 10px;
    margin: 5px 9px;
}

.card-img img {
    height: inherit;
}

.card-content {
    padding: 0 10px;
    padding-top: 10px;
}

.card-content p {
    font-size: 15px;
}

#footer {
    height: 100px;
    background-color: crimson;
}